.counter_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    border: 1px solid #212121;
    height: 100px;
    border-radius: 12px;
    padding: 0 16px;
    
}