.header {
	height: 60px;
	flex-direction: row;
	display: flex;
	padding: 0 40px;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(145, 145, 214);

	&_title {
		color: chocolate;
	}

	&_logo {
		color: red;
		font-size: 20px;
	}

	&>ul {
		display: flex;
		gap: 18px
	}
}