.wrapper {
	height: 60px;
	flex-direction: row;
	display: flex;
	padding: 0 40px;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(145, 145, 214);

	a {
		color: #fff;
		text-decoration: none;
	}


	&>nav {
		&>ul {
			display: flex;
			list-style: none;
			gap: 18px;
		}
	}

	.name {
		color: #fff;
	}
}