.header {
  height: 60px;
  display: flex;
  padding: 0 40px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(65, 65, 107);

  &_title {
    color: chocolate;
  }

  &_logo {
    color: red;
    font-size: 20px;
  }
}