.wrapper {
    height: 60px;
    display: flex;
    background-color: green;
    justify-content: center;
    align-items: center;

    .text {
        font-size: 25px;
        color: #212121;
    }
}